body {
    background-color: #121f26;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.bloc1 {
    background-color: #1c2b33;
    border-radius: 10px;
    border-color: #2d3f49;
    border-width: 1px;
    border-style: solid;
    padding: 20px;
    margin: 20px 16px auto;
    transition: border-color 0.2s ease, transform 0.2s ease;
}

/* Conteneur pour positionner le label par-dessus l'input */
.input-container {
    position: relative;
    width: 100%;
    background-color: #1c2b33;
}

/* Style du champ de saisie */
.input-field {
    width: 100%;
    height: 100%;
    padding: 16px 12px 0px 12px;
    border: none;
    background: transparent;
    outline: none;
    color: #ffffff;
    font-size: 16px;
    box-sizing: border-box;
}

/* Style initial du texte d'aide */
.input-label {
    position: absolute;
    left: 1px;
    top: 50%;
    transform: translateY(-50%);
    color: #8595a4;
    font-size: 16px;
    transition: all 0.15s ease;
    pointer-events: none;
}

/* Animation du label au focus ou si rempli */
.input-field:focus ~ .input-label,
.input-field:not(:placeholder-shown) ~ .input-label {
    top: -5px;
    font-size: 11px;
    color: #2870dc;
}

.text {
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 5px;
    margin-left: 16px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.bloc1:has(.input-field:focus) {
    border-color: #2870dc;
    transform: scale(1.01);
}

/* Anti Autofill Blanc */
.input-field:-webkit-autofill,
.input-field:-webkit-autofill:hover, 
.input-field:-webkit-autofill:focus, 
.input-field:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff !important;
    transition: background-color 9999s ease-in-out 0s;
}

/* Bouton Login */
.btn-login {
    background-color: #2870dc;
    color: #ffffff;
    width: calc(100% - 32px); 
    margin: 10px 16px;
    border: none;
    border-radius: 50px; 
    padding: 14px 0; 
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #1e5bb8;
}

/* Gestion de l'erreur */
.error-text {
    color: #ED4956;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 500;
}

.bloc-error {
    border-color: #ED4956 !important;
}

.bloc-error .input-label {
    color: #ED4956 !important;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}